[submodule "portfolio-page"]
	path = portfolio-page
	url = https://github.com/marius-patrik/portfolio-page.git
[submodule "phonebooth"]
	path = phonebooth
	url = https://github.com/marius-patrik/phonebooth.git
[submodule "tradebot"]
	path = tradebot
	url = https://github.com/marius-patrik/tradebot.git
[submodule "pokedex"]
	path = pokedex
	url = https://github.com/marius-patrik/pokedex.git
[submodule "liqid"]
	path = liqid
	url = https://github.com/marius-patrik/liqid.git
[submodule "RobotArm"]
	path = RobotArm
	url = https://github.com/marius-patrik/RobotArm.git
[submodule "SuperHumanRobot"]
	path = SuperHumanRobot
	url = https://github.com/marius-patrik/SuperHumanRobot.git
[submodule "VRHeadset"]
	path = VRHeadset
	url = https://github.com/marius-patrik/VRHeadset.git
[submodule "todolist"]
	path = todolist
	url = https://github.com/marius-patrik/todolist.git
[submodule "clock"]
	path = clock
	url = https://github.com/marius-patrik/clock.git
[submodule "camera"]
	path = camera
	url = https://github.com/marius-patrik/camera.git
[submodule "calculator"]
	path = calculator
	url = https://github.com/marius-patrik/calculator.git
[submodule "calendar"]
	path = calendar
	url = https://github.com/marius-patrik/calendar.git
[submodule "browser"]
	path = browser
	url = https://github.com/marius-patrik/browser.git
[submodule "notes"]
	path = notes
	url = https://github.com/marius-patrik/notes.git
