[submodule "libraries/plc"]
	path = libraries/plc
	url = https://github.com/marius-patrik/plc.git
[submodule "applications/phonebooth"]
	path = applications/phonebooth
	url = https://github.com/marius-patrik/phonebooth.git
[submodule "applications/tradebot"]
	path = applications/tradebot
	url = https://github.com/marius-patrik/tradebot.git
[submodule "applications/pokedex"]
	path = applications/pokedex
	url = https://github.com/marius-patrik/pokedex.git
[submodule "hardware/RobotArm"]
	path = hardware/RobotArm
	url = https://github.com/marius-patrik/RobotArm.git
[submodule "hardware/SuperHumanRobot"]
	path = hardware/SuperHumanRobot
	url = https://github.com/marius-patrik/SuperHumanRobot.git
[submodule "hardware/VRHeadset"]
	path = hardware/VRHeadset
	url = https://github.com/marius-patrik/VRHeadset.git
