[submodule "liqid-ui"]
	path = liqid-ui
	url = https://github.com/marius-patrik/liqid-ui.git
[submodule "liqid-docs"]
	path = liqid-docs
	url = https://github.com/marius-patrik/liqid-docs.git
[submodule "liqid-playground"]
	path = liqid-playground
	url = https://github.com/marius-patrik/liqid-playground.git
[submodule "liqid-components"]
	path = liqid-components
	url = https://github.com/marius-patrik/liqid-components.git
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/marius-patrik/portfolio
